/node_modules
/public/hot
/public/outlet-images
/public/outlet-menu-images
/public/storage
/public/system-images
/public/user-images
/public/hotel-images
/public/icon
/public/mice
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
